<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>{%block title%}{%endblock%}Dreams Blog</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'blogbase.css'%}">
</head>

<body>
    <section id="header">
        <div id="tasks">
            <div class="">
                <div class="title">
                    <img src="/static/image/dream.jpg" alt="" width="70" height="70">
                </div>

                <div class="navbar">

                    <div class="navbar">
                        <ul id="navbar">
                            <a id="home" href="{%url 'home'%}">Home</a>
                            <a href="{%url 'about'%}">About</a>
                            {%if request.user.is_authenticated%}
                            <a href="{%url 'profile'%}">Profile</a>
                            <a href="{%url 'userpost'%}">Your Posts</a>
                            <a href="{%url 'signout'%}">Logout</a>
                            {%else%}
                            <a href="{%url 'login'%}">Login</a>
                            <a href="{%url 'signup'%}">Join</a>
                            {%endif%}
                            {%block link%}{%endblock%}
                        </ul>

                    </div>

                </div>
            </div>

        </div>
        </div>
    </section>
    <section class="main-body">
        {%block content%}
        {%endblock%}
    </section>
    <footer>
        <div style="width: 100%; color:#14cf3d">
        </div>

        <div class="footer-link" style="width: 33.3%; height :100; color: #14cf3d;">
            <h4><u>Follow us</u> </h4>
            <a href="">telegram</a>
            <a href="">facebook</a>
            <a href="">gmail</a>
        </div>
        <div class="footer-link" style="width: 33.30%; height:100; color: #14cf3d;
                border-left: #171817 solid ;
                border-right: #171817 solid ;">
            <h4><u>Help</u> </h4>
            <a href="">twiter</a>
            <a href="">facebook</a>
        </div>

        <div class="footer-image" style="width:33.30%;color:#14cf3d;
             border-radius: 10%;">
            <img src="/static/image/dream.jpg" alt="" width="40%">
            <figcaption>
                <h6>© Dreams Blog 2022. All rights reserved. </h6>
            </figcaption>
        </div>

    </footer>
</body>

</html>